<div class="animate-switch-container" ng-switch on="data.selection">
    <div class="animate-switch" ng-switch-when="decrypt">
        <button class="list-new-app-b" ng-click="decrypt()">Decrypt</button>
        <input class="main-search-input" type="text" ng-model="data.code" >
    </div>
    <div class="animate-switch" ng-switch-when="blocked">
        <span>You have been blocked by {{data.waitingLabelUsername}}</span>
    </div>
    <div class="animate-switch" ng-switch-when="warned">
        <span>Warning message from {{data.waitingLabelUsername}} , but still waiting...</span>
    </div>
    <div class="animate-switch" ng-switch-when="finishDecrypt">
        <button class="list-new-app-b" clip-copy="data.ansContent">Copy</button>
        <span>{{data.ansContent}}</span>
    </div>
    <div class="animate-switch" ng-switch-default>
        <span>Waiting for {{data.waitingLabelUsername}}...</span>
    </div>
</div>
