<div ng-switch on="data.selection">
    <div ng-switch-when="decrypt">
        <input class="in" type="text" select-all ng-enter="decrypt()" ng-model="data.code" >
        <button class="btn" ng-click="decrypt()">Decrypt</button>
    </div>
    <div class="text-block" ng-switch-when="blocked">
        <span>You have been blocked by {{data.waitingLabelEmail}}</span>
    </div>
    <div class="text-warn" ng-switch-when="warned">
        <span>Warning message from {{data.waitingLabelEmail}} , but still waiting...</span>
    </div>
    <div ng-switch-when="finishDecrypt">
        <span class="text" >{{data.ansContent}}</span>
        <button class="btn" clip-copy="data.ansContent">Copy</button>
        <button class="btn" clip-clear>Clear clipboard</button>
    </div>
    <div class="text" ng-switch-when="notexist">
        <span>{{data.waitingLabelEmail}} not exist</span>
    </div>
    <div class="text" ng-switch-when="notregistered">
        <span>{{data.waitingLabelEmail}} not registered yet</span>
    </div>
    <div class="text" ng-switch-default>
        <span>Waiting for {{data.waitingLabelEmail}}...</span>
    </div>
</div>
