<!doctype html>
<html lang="en" ng-app="web">
<head>
	<meta charset="utf-8">
	<title app-name>404.html</title> 
</head>

<body style="background-image:url('https://s3.amazonaws.com/mykee.in/bg.jpg'); background-position:center; background-color:#02630D;">
	<div style="margin-left: auto; margin-right: auto; width: 720px;">
		<div style="position: absolute;
		padding: 50px;
		margin-top: 90px;
		width: 640px;
		min-height: 350px;
		border:3px solid;
		border-color:rgba(255,255,255,.3);
		border-radius: 2px;
		background-image:url('https://s3.amazonaws.com/mykee.in/bg.jpg');
		background-position:center;">
		<p style="font-family:'Source Sans Pro', sans-serif; font-weight:900;
		color:#fff; 
		text-shadow: 1px 1px 1px #111;
		font-size:17px;"><%= url %></p>
		<p style="font-family:'Source Sans Pro', sans-serif; font-weight:900; color:#eee; text-shadow: 1px 1px 1px #333; font-size:15px;">Error: <%= error %></p>
	</div>
	<div style="position: absolute;
	margin-top: 550px;
	border:3px solid;
	border-color:rgba(0,0,0,.3);
	border-radius: 2px;
	background-image:url('https://s3.amazonaws.com/mykee.in/bg.jpg');
	background-position:center;">
	<span id="cdSiteSeal1">
		<script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73911bb592c9135c98dv7k1y7mb7355e4ye7035ca8432df0d5146">
		</script>
	</span>
</div>
</div>
</body>
</html>