<!doctype html>
<html lang="en" ng-app="web">
<head>
	<meta charset="utf-8">
	<title app-name>500.html</title> 
</head>
<body style="background-image:url('https://s3.amazonaws.com/mykee.in/bg.jpg'); margin-left:auto; margin-right:auto; width: 50em;">
	<p style="color:#ddd;">error: <%= error %></p>
	<span id="cdSiteSeal1"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73911bb592c9135c98dv7k1y7mb7355e4ye7035ca8432df0d5146"></script></span>
</body>
</html>